@page
@model IndexModel
@{
    ViewData["Title"] = "AmGPGU IT";
}

<div class="container-fluid text-center">
    <div class="col-12 pt-3 pb-3">
        <h1 class="display-5">Welcome to AmGPGU IT</h1>
    </div>
</div>
