@page
@model ServMon.Pages.SrvMon.IndexModel
@{
    ViewData["Title"] = "AmGPGU IT";
}

<div class="container-fluid text-center">
    <div class="col-12 pt-3 pb-3">
        <a class="btn btn-teal" href="/SrvMon/Servers/Index">Servers</a>
        <a class="btn btn-teal" href="/SrvMon/Users/Index">Users</a>
        <a class="btn btn-teal" href="/SrvMon/Events/Index">Events</a>
    </div>
</div>
