@page
@model ServMon.Pages.SrvMon.Users.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h4 class="p-4">New user</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.Name" class="control-label"></label>
                <input asp-for="User.Name" class="form-control" />
                <span asp-validation-for="User.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.PrintName" class="control-label"></label>
                <input asp-for="User.PrintName" class="form-control" />
                <span asp-validation-for="User.PrintName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Position" class="control-label"></label>
                <input asp-for="User.Position" class="form-control" />
                <span asp-validation-for="User.Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Phone" class="control-label"></label>
                <input asp-for="User.Phone" class="form-control" />
                <span asp-validation-for="User.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Servers)
                <div class="border border-2" style="padding: 1em">
                    @foreach (var item in Model.Servers)
                    {
                        <input type="checkbox" name="selectedServers" value="@item.Id" />
                        @item.Name
                        <br />
                    }
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
