<nav class="navbar navbar-expand-sm navbar-dark bg-teal">
    <div class="container">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav">
                <li class="navbar-brand">
                    <a class="nav-link" href="/Index">AmGPGU</a>
                </li>
                <li class="navbar-brand">
                    <a class="nav-link" href="/SrvMon/Index">ServerMonitoring</a>
                </li>
            </ul>
        </div>
    </div>
</nav>